<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Home</title>    
    </head>
        
    <body>
        <header>
            <h1>Welcome to CTF</h1>
        </header>    
        
        <section>
                <fieldset class="form">
                <legend><h3>LOGIN</h3></legend>
                <label>
                Username<br/>
                <input type="text" name="Username"><br/>
                </label>
                <label>
                password<br/>
                <input type="password" name="Password"><br/>
                </label>
                </fieldset>
                <button>submit</button>
        </section>
    
    
    </body>

</html>