<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="styles.css">
        <title>Home</title>    
    </head>
        
    <body>
        <header>
            <h1>Welcome to CTF</h1>
        </header>    
        
        <section>
                <fieldset class="form">
                <legend><h3>REGISTRATION</h3></legend>
                <label>
                Username<br/>
                <input type="text" name="Username"><br/>
                </label>
                <label>
                User email<br/>
                <input type="email" name="User email"><br/>
                </label>
                <label>
                password<br/>
                <input type="password" name="Password"><br/>
                </label>
                <label>
                confirm password<br/>
                <input type="password" name="Confirm password"><br/>
                </label>   
                </fieldset>
                <button href="login.html">submit</button>
        </section>
    
    
    </body>

</html>