<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="styles.css">
        <title>Home</title>    
    </head>
        
    <body>
        <header>
            <h1 class="welcome">Welcome to CTF</h1>
        </header>    
        
        <section>
                <fieldset class="form">
                <legend><h3>REGISTRATION</h3></legend>
                <input type="text" name="Username" placeholder="Username"><br/>
                <input type="email" name="User email" placeholder="Email"><br/>
                <input type="password" name="Password" placeholder="Password"><br/>
                <input type="password" name="Confirm password" placeholder="Confirm password"><br/>
                </fieldset>
                <button>Submit</button>
        </section>
    
    
    </body>

</html>